# If you're going to use Vercel, use their
# UI to add environmental variables. This
# file is unnecessary!

# Spotify Application
SPOTIFY_CLIENT_ID=application_id
SPOTIFY_CLIENT_SECRET=application_secret

# Spotify User
SPOTIFY_REFRESH_TOKEN=your_refresh_token
SPOTIFY_CALLBACK_URL=http://127.0.0.1:3000/api/auth

# Security
STATE=some_random_string

# Environment
# Disables and enables authorization endpoints.
NODE_ENV=development/production
# Whether to disable live updates.
MOCK_DATA=true/false